@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Poppins:ital,wght@0,200;0,300;1,200;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box0;
}

:root{
    --bg1: #151828;
    --bg2: #1b1f34;
    --body:#959DCC;
    --brand:#FFAB76;
    --white:#fff;
}

body { 
    /* font-family: "Inter" 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    color: var(--body);
    line-height: 1.8;
    background-color: var(--bg1);
    /* font-family: "Dancing Script"; */
}