@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Poppins:ital,wght@0,200;0,300;1,200;1,300&display=swap');
*{
    padding: 0;
    margin: 0;
}

:root{
    --bg1: #151828;
    --bg2: #1b1f34;
    --body:#959DCC;
    --brand:#FFAB76;
    --white:#fff;
}

body { 
    /* font-family: "Inter" 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    color: var(--body);
    line-height: 1.8;
    background-color: var(--bg1);
    /* font-family: "Dancing Script"; */
}

ul{
    list-style: none;
}

.text-color{
    color: var(--brand);
    font-family: "Dancing Script";
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Dela Gothic One", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}
/* List-Menu */
li.nav-dropdown{
    color: var(--white);
    text-decoration: none;
    font-weight: 500;
    transition: all 0.4s ease;
    position: relative;
    padding: 8px 7px 0 7px;

}
li.nav-dropdown:hover{
    color: #FFAB76;
}

li.nav-dropdown:hover .nav__item{
    display: block;
}

li.nav-dropdown .nav__item{
    display: none;
}

ul.nav__item{
    position: absolute;
    list-style: none;
    top: 100%;
    height: auto;
    width: 220px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s ease;
}

.menu i{
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
    /* line-height: 95px; */
    padding-left: 35px;
    /* padding-top: 40px; */
}
/* List-Menu */


/* Menu Icon */

.menu__translate{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #fff;
    z-index: 1000;
}

/* Menu Icon */
a{
    color: var(--body);
    text-decoration: none;
    font-weight: 500;
    transition: all 0.4s ease;
}

ul.nav__item > .nav-item{
    margin-left: -10px;
}

a:hover{
    color: var(--brand);
}

.logo{
    height: 70px;
    width: 90px;
}

.link-more{
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    left: 1px;
}

.link-more .icon{
    transition: all 0.4s ease;
}

.link-more:hover .icon{
    transform: translateX(8px);
}
img{
    width: 100%;
}
section{
    padding-top: 80px;
    padding-bottom: 80px;
}

/* HERO */
#hero{
    padding-top: 95px;
    padding-bottom: 1px;
    background-color: var(--bg2);
}
/* HERO */

/* intro */
#intro{
    padding: 20px 0;
    background-color: #0e1122;
}

p{
    color: #fff;
    font-weight: 100;
}
/* intro */



/* NAVBAR */

.navbar{
    background-color: rgb(24, 22, 22) ;
}
.narbar_brand{
    font-family: "Dela Gothic One", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
}

.nav-link{
    text-transform: uppercase;
    color: var(--white);
}
.nav-link:hover{
    color: var(--brand);
    transition: all 0.4s ease;
}

.navbar-brand img{
    width: 100%;
}

/* Hero */
#hero .carousel-item img{
    height: 100%;
    width: 100%;
}

#carouseId{
    position: absolute;
}


/* Hero */

/* BTN */
.btn{
    padding: 16px 36px;
    font-family: "Dela Gothic One", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.4s ease;
    border-radius: 0;
}
.btn-brand{
    background-color: var(--brand);
}
.btn-brand:hover{
    background-color: transparent;
    color: var(--brand);
    border-color: var(--brand);
}
.btn-outline-brand{
    background-color: transparent;
    color: var(--brand);
    border-color: var(--brand);
}
.btn-outline-brand:hover{
    background-color: var(--brand);
}

/* About */
#about{
    position: relative;
}

#about::after{
    content: "";
    width:25%;
    height: 100%;
    background-color: var(--brand);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#about h6{
    color: var(--brand);
}

#about h1{
    margin-top: 16px;
    margin-bottom: 24px;
}

#about .signature{
    width: unset;
}


/* Trending */
#trending{
    padding-top: 50px;
    padding-bottom: 50px;
}

#trending h4{
    line-height: 60px;
}

#trending i{
    color: #d0cdcd;
    font-size: 40px;
    font-family: "Dancing Script";
    font-weight: bold;
}

#trending p{
    color: var(--white);
    font-size: 18px;
    line-height: 45px;
    font-weight: 300;
}

#trending button{
    padding: 10px 25px;
    margin-top: 30px;
    border: 2px solid var(--brand);
    background-color: transparent;
    outline: none;
    color: var(--brand);
    font-weight: bold;
    overflow: hidden;
    font-family: "Dancing Script";
    border-radius: 3px;
}

#trending button:hover{
    color: #000;
    background-color: var(--brand);
}

#trending img{
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 3px solid #7a7c84;
    box-shadow: 0px 0px 0px -5px rgba(255, 255, 255, 0.6);
}

/* #trending img:hover{
    transform: rotateX(180deg);
} */

#trending p.item{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    color: var(--brand);
    font-family: "Dancing Script";
    text-transform: uppercase;
}

#trending .trending-item{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: 2s ease-in;
}

#trending .trending-item:hover{
    transform: rotateY(360deg);
}

/* Trending */

/* services */
#services{
    background:var(--bg2);
}

#services .service .content{
    padding: 32px;
}

#services .service p{
    margin-top: 18px;
    margin-bottom: 18px;
}

#service img{
    height: 292px;
    width: 416px;
}

/* MILESTONE */

#milestone{
    background:linear-gradient(to right, rgba(27,31,52,0.2),rgba(27,31,52,0.8)), url(../img/cover_2.jpg) ;
    background-size: cover;
    background-position: center;

}

#milestone h1{
    color: var(--brand);
}


/* PRODUCT */
#product{
    background-color: var(--bg1);
}
.product__top{
    display: flex;
    justify-content: space-between;
}

#product button{
    padding: 5px 20px;
    color: var(--brand);
    font-size: 30px;
    font-weight: 500;
    border-radius: 5px;
    font-family: "Dancing Script";
    /* font-family: "Dela Gothic One", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    border: 2px solid var(--brand);
    background-color: transparent;
    transition: 0.3s ease-in
}

#product button:hover{
    background-color: var(--brand);
    color: #212529;
}


#product .col-lg-3{
    max-width: 100%;
}

button.slick-prev{
    overflow: hidden;
}

button.slick-next{
    overflow: hidden;
}

#product > div > div > div.product-bottom.slick-initialized.slick-slider > button.slick-prev.slick-arrow{
    border:none;
}

#product > div > div > div.product-bottom.slick-initialized.slick-slider > button.slick-prev.slick-arrow:hover{
    background-color: transparent;
}
#product > div > div > div.product-bottom.slick-initialized.slick-slider > button.slick-next.slick-arrow{
    border: none;
}

#product > div > div > div.product-bottom.slick-initialized.slick-slider > button.slick-next.slick-arrow:hover{
    background-color: transparent;
}


#product .col-lg-3 p{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    height: 30px;
}

#product ul.price{
    display: flex;
    justify-content: space-between;
    margin-left: -20px;
    margin-right: 10px;
    height: 30px;
    line-height: 40px;
}

li.price-now{
    color: #fff;
}

#product button.buy{
    height: 50px;
    width: 100%;
    font-size: 20px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
}
/* PRODUCT */

/* Features */
#features{
    background-color: var(--bg2);
}
.feature{
    display: flex;
}

.feature .icon-feature{
    font-size: 36px;
    color: var(--brand);
    line-height: 1;
    margin-right: 16px;
}

.feature p{
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 16px;
}

/* Socials icon */

.social-links a{
    width: 48px;
    height: 42px;
    background-color: var(--bg2);
    align-items: center;
    justify-content: center;
    display: flex;
}

.social-links a:hover{
    background-color: var(--brand);
    color: var(--bg1);
}

/* Team */

#team{
    background-color: var(--bg1);
}


 .team-member{
    height: 430px;
    width: 300px;
    background-color: #1b1f34;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
}
.team-member .img{
    border-radius: 50%;
    height: 120px;
    width: 120px;
    overflow: hidden;
    margin: 0 auto;
    transform: translateY(20px);
}

.team-member .img:hover{
    height: 100%;
    width: 100%;
    border-radius: unset;
    overflow: hidden;
    border: unset;
    transform: none;
}

.team-member img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.team-member img:hover{
    overflow: hidden;
}

.team-member h5{
    padding-top: 40px;
    color: #FFAB76;
}

.team-member p {
    font-size: 16px ;
    color: #fff;
    font-weight: 500;
}

.social-links a{
    text-decoration: none;
    text-align: center;
    color: #fff;
    border-radius: 5px;
}
.social-links{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    padding: 20px 40px;
}

.team-member button{
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 2px;
    border: 1px solid #fff; 
    border:unset;
    outline: none;
    font-weight: 600;
    background-color: #FFAB76;
    color: #000;
}

.team-member button:hover{
    background-color: #fff;
    color: #000;
}
/* Team Fix */
/* REVIEWS */

#reviews{
    background-color: var(--bg2);
}

.reviews {
    padding: 32px;
    background-color: var(--bg2);
    position: relative;
}

.reviews .icon{
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--brand);
    color: var(--bg1);
    border-radius: 100px;
    position: absolute;
    right: 32px;
}

.reviews img{
    width: 70px;
    border-radius: 50%;
}


/* blog */
.blog{
    background-color: var(--bg2);
}


.blog-post{
    position: relative;
}

.blog-post:hover .icon{
    display: block;
} 

.blog-post .date{
    width: 90px;
    height: 90px;
    background-color: var(--brand);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    left: 30px;
}

.blog-post .day{
    font-size: 32px;
    line-height: 1;
    color: var(--bg1);
    font-family: "Dela Gothic One", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.blog-post .year{
    color: var(--bg1);
}

.icon{
    display: block;
    position: absolute;
    top: 10px;
    right: 0px;
    display: none;
    transition: 0.5s ease-in;
}

.icon a{
    margin-bottom: 10px;
}

/* Booking */
#booking{
    background:linear-gradient(to right, rgba(27,31,52,0.2),rgba(27,31,52,0.8)), url(../img/cover_2.jpg) ;
    background-size: cover;
    background-position: center;
}

#booking form{
    background-color: var(--bg1);
    padding: 32px;
}

#booking form .form-control{
    background-color: var(--bg2);
    border-radius: 0;
    margin-top: 16px;
    border-color: var(--bg2);
    border: 2px solid var(--bg2);
    color: var(--body);
}


.row > .row{
    margin-left: 0px;
}
input.col-5{
    background-color: var(--bg2);
    outline: none;
    border: none;
    color: var(--body);
}

input.col-5:focus{
    border-left: 2px solid #FFAB76;
}
select.col-3{
    background-color: var(--bg2);
    border: none;
    outline: none;
    color: var(--body);
    padding-left: 2px;
    margin-left: 26px;
    outline: hidden;
    overflow: hidden;
}

select.col-3:focus{
    border-left: 2px solid #FFAB76;
}

option{
    outline: none;
}




#booking form input{
    height: 58px;
}
#booking form .form-control:focus{
    box-shadow: none;
    border-left-color: var(--brand);
}


/* Search Address */
#search-address{
    background-color: var(--bg2);
}
ul.search__addr-top{
    display: flex;
    justify-content: space-between;
}

li.search__addr-top h3{
    color: var(--brand);
}

li.search__addr-top p{
    color: #7a7c84;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.8;
}

li.search__addr-top a p{
    color: #fff;
}

li.search__addr-top button{
    padding: 5px 40px 0px 40px;
    background-color: transparent;
    border: 2px solid var(--brand);
}

li.search__addr-top button:hover{
    background-color: var(--brand);
}

li.search__addr-top button:hover li.search__addr-top a{
    color: var(--body);
}

li.search__addr-top a{
    text-decoration: none;
    color: var(--body);
}

li.search__addr-top i{
    font-size: 15px;
    font-weight: bold;
}

.addr{
    display:flex;
}

.addr img{
    height: 150px;
    width: 150px;
}

ul.search-addr{
    padding-top: 40px;
    padding-left: 15px;
}

/* Search Address */


/* FOOTER */
footer{
    padding-top: 120px;
    background-color: var(--bg1);
}

.footer-top h2{
    height: 50px;
}

footer .social-links {
    display: flex;
}

footer .social-links a{
    margin-right: 5px;
}

.footer-top{
    padding-bottom: 30px;
}
.footer-bottom{
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid var(--bg2);
}


