:root {
  --main-bg-color: #001f99;
  --main-text-color: #00059d;
  --second-text-color: #6c6b6b;
  --second-bg-color: #8da7ea;
}

.primary-text {
  color: var(--main-text-color);
}

.second-text {
  color: var(--second-text-color);
}

.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
  background-image: linear-gradient(
    to right,
    #bad1f3,
    #c2d3f5,
    #cbe6f7,
    #d4f8ea,
    #ddfaef
  );
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}


*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  /*font-family: 'Open Sans Condensed', sans-serif;*/
}

.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
}

nav{
  flex: 1;
  text-align: right;
}

nav ul{
  display: inline-block;
  list-style-type: none;
}

nav ul li{
  display: inline-block;
  margin-right: 20px;
}

a{
  text-decoration: none;
  color: #555;
}

p{
  text-align: center;
  color: #555;
  font-size: medium;
}

h7{
  color: #353131;
  font-style: italic;
  font-size: 18px;
}
.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
 
}

.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 25px;
  padding-right: 25px;
}
.row p{
  color: #EA8025;
  font-size: 20px;
  
  margin-bottom: 10px;
}
.col-2{
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img{
  max-width: 200%;
  padding: 50px 0;
}
.col-2 h1{
  font-size: 40px;
  line-height: 60px;
  margin: 25px;
  font-family:  "Time New Roman", serif;

}
.btn{
  display: inline-block;
  background: #ff523b;
  color:  #fff;
  padding: 10px 35px;
  margin:  30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover{
  background: #563434;
}

h2{
  text-align: center;
}
/*-------input---------------*/


.header{
  /*background:radial-gradient(#fff,#ffd6d6);  */
  background:radial-gradient(rgb(247, 247, 248),#ffffff);  
}


.header .row{
  margin-top: 70px;
}

.categories{
  margin: 70px 0;
}

.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img{
  width: 100%;
}
/*.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}*/
.small-container p{
  color: #EA8025;
  font-size: 20px;
  font-family: "Arial";
  font-weight: 700;
  margin-bottom: 10px;
}
.small-container h4{
  
  color: #191919;
  font-size: 20px;
}
.col-4{
  flex-basis: 25%;
  padding:10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img{
  width: 100%;
}

.title{
  font-family: 'Noto Serif', serif;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color:#555;
}
.title::after{
  content: '';
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute  ;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4{
  color: #555;
  font-weight: normal;
  text-align: center;
}
h4 b{
  color: #191919;
  font-size: 20px;
  font-family: Arial;
}
.col-4 p{
  color: rgb(234, 128, 37);
  font-size: 20px;
  font-family: Arial;
  font-weight: 700;
  margin-bottom: 10px;
}
.col-4{
  font-size: 20px;

}
.rating{
  text-align: center;
}
.rating .fa{
  color: #ff523b;
  
}
.col-4:hover{
  transform: translateY(-5px);
}
/*--------offer--------*/
.offer{
  background: radial-gradient(#fff,#ffd6d6);
  margin-top: 80px;
  padding: 30px 0 ;
}
.offer .small-container{
  max-width: 1080px;
  margin: auto;

}
.col-2 .offer-img{
  padding: 50px;
}
small{
  color: #555;
}


/*-------- testimonial ---------*/
.testimonial{
  padding-top: 100px;
}
.testimonial .col-3{
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.5S;
}
.testimonial .col-3 img{
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}
.testimonial .col-3:hover{
  transform: translateY(-10px);
}
.fa .fa-quote-left{
  font-size: 34px;
  color: #ff523b;
}
.col-3 p{
  font-size: 18px;
  margin: 12px 0;
  color: black;
  font-style: italic;
  font-family: 'Time New Roman';
}
.testimonial .col-3 h3{
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

/*---------brands-------------*/
.brands{
  margin: 100px auto;   
}
.col-5{
  width: 160px;
}
.col-5 img{
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}
.col-5 img:hover{
  filter: grayscale(0);

}
/*-----footer----------*/
.footer{
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p{
  color: white;
}
.footer h3{
  color: rgb(68, 67, 67);
  margin-bottom: 20px;

}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1{
  flex-basis: 30%;
}
.footer-col-2{
  flex: 1;
  text-align: center;
}
.footer-col-2 img{
  width: 300  px;
  margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
  flex-basis: 12%;
  text-align: center;
}

ul{
  list-style-type: none;
}
.app-logo{
  margin-top: 20px;
}
.app-logo img{
  width: 140px;
}
.footer hr{
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}
.copyright{
  text-align: center;
}
.menu-icon{
  width: 28px;
  margin-left: 20px;
  display: none;
}
/* phan trang */
.clear-both{
  clear: both;
}
#pagination{
  text-align: right;
  margin-top: 15px;
}

.page-item{
  border: 1px solid #ccc;
  padding: 5px 9px;
  color: #000;
}
a .page-item{
  border: 1px solid #ccc;

}
.current-page{
  background: #000;
  color: #FFF;
}



/*-------- media query for menu------*/

@media only screen and (max-width: 800px){
  nav ul{
      position: absolute;
      top: 70px;
      left: 0;
      background: #333;
      width: 100%;
      overflow: hidden;
      transition: max-height 0.5s;
  }
  nav ul li{
      display: block;
      margin-right: 50px;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  nav ul li a{
      color: #fff;
  }
  .menu-icon{
      display: block;
      cursor: pointer;
  }
}
/*-------------------- All product page-------------------*/
.row-2{
  justify-content: space-between;
  margin: 100px auto 50px;
}
select{
  border: 1px solid #ff523b;
  padding: 5px;
}
select:focus{
  outline: none;
}

.page-ptn{
  margin: 0 auto 80px ;
}
.page-ptn span{
  display: inline-block;
  border: 1px solid #ff523b;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.page-ptn span:hover{
  background: #ff523b;
  color: #fff;
}

ul.quanly{
  display: flex;
  justify-content: space-between;
}


table tr th{
  border: 1px solid #333;
}

table tr td{
  border: 1px solid #8a8a8a;
}







/*-------- media query for les than 600 screen size------*/
@media only screen and (max-width: 600px){
  .row{
      text-align: center;
  }
  .col-2, .col-3, .col-4{
      flex-basis: 100%;
  }
  .buttton .btn{
      padding: auto;
      text-align: center;
      padding: auto;
  }
}




